In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%inline matplotlib

UsageError: Line magic function `%inline` not found.

In [82]:
df = pd.read_csv("restaurants.csv")
df.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000

In [ ]:
df['Cuisine'].value_counts()

In [ ]:
df.isnull().sum()

In [83]:
def lowerf(name):
    for i in name:
        return str.lower(i)

In [ ]:
df['Location'] = df['Location'].apply(lambda x:x.lower())
df['Locality'] = df['Locality'].apply(lambda x:x.lower())
df['Cuisine'] = df['Cuisine'].apply(lambda x:x.lower())
df['City'] = df['City'].apply(lambda x:x.lower())

In [69]:
df.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,tags
0,Local,"scindiahouse,connaughtplace,centraldelhi",centraldelhi,delhi,"northindian,fingerfood,continental",4.1,2415,2000,"delhiscindiahouse,connaughtplace,centraldelhid..."
1,The G.T. ROAD,"m-block,connaughtplace,centraldelhi",centraldelhi,delhi,northindian,4.3,2363,1500,"delhim-block,connaughtplace,centraldelhidelhin..."
2,Tamasha,"connaughtplace,centraldelhi",centraldelhi,delhi,"fingerfood,northindian,italian,continental,asian",4.2,5016,2000,"delhiconnaughtplace,centraldelhidelhifingerfoo..."
3,The Junkyard Cafe,"connaughtplace,centraldelhi",centraldelhi,delhi,"northindian,mediterranean,asian,italian,oriental",4.2,2821,1800,"delhiconnaughtplace,centraldelhidelhinorthindi..."
4,Chili's American Grill and Bar,"m-block,connaughtplace,centraldelhi",centraldelhi,delhi,"mexican,american,italian",4.4,1094,2000,"delhim-block,connaughtplace,centraldelhidelhim..."

In [85]:
df.drop_duplicates(inplace = True)

In [84]:
df['Location'] = df['Location'].apply(lambda x:x.replace(" ",""))
df['Locality'] = df['Locality'].apply(lambda x:x.replace(" ",""))
df['Cuisine'] = df['Cuisine'].apply(lambda x:x.replace(" ",""))

In [72]:
df.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,tags
0,Local,"scindiahouse,connaughtplace,centraldelhi",centraldelhi,delhi,"northindian,fingerfood,continental",4.1,2415,2000,"delhiscindiahouse,connaughtplace,centraldelhid..."
1,The G.T. ROAD,"m-block,connaughtplace,centraldelhi",centraldelhi,delhi,northindian,4.3,2363,1500,"delhim-block,connaughtplace,centraldelhidelhin..."
2,Tamasha,"connaughtplace,centraldelhi",centraldelhi,delhi,"fingerfood,northindian,italian,continental,asian",4.2,5016,2000,"delhiconnaughtplace,centraldelhidelhifingerfoo..."
3,The Junkyard Cafe,"connaughtplace,centraldelhi",centraldelhi,delhi,"northindian,mediterranean,asian,italian,oriental",4.2,2821,1800,"delhiconnaughtplace,centraldelhidelhinorthindi..."
4,Chili's American Grill and Bar,"m-block,connaughtplace,centraldelhi",centraldelhi,delhi,"mexican,american,italian",4.4,1094,2000,"delhim-block,connaughtplace,centraldelhidelhim..."

In [90]:
df['tags'] = df['City']+df['Location']+df['City']+df['Cuisine']+df['Rating']+df['Votes']+df['Cost']

In [156]:
columns  = df[['Name','Locality','tags','Cuisine']]

In [107]:
columns

,Name,Locality,tags
0,Local,CentralDelhi,"DelhiScindiaHouse,ConnaughtPlace,CentralDelhiD..."
1,The G.T. ROAD,CentralDelhi,"DelhiM-Block,ConnaughtPlace,CentralDelhiDelhiN..."
2,Tamasha,CentralDelhi,"DelhiConnaughtPlace,CentralDelhiDelhiFingerFoo..."
3,The Junkyard Cafe,CentralDelhi,"DelhiConnaughtPlace,CentralDelhiDelhiNorthIndi..."
4,Chili's American Grill and Bar,CentralDelhi,"DelhiM-Block,ConnaughtPlace,CentralDelhiDelhiM..."
...,...,...,...
6588,Shree Rathnam,WestLudhiana,"LudhianaWaveMall,BRSNagar,WestLudhianaLudhiana..."
6589,Cafe Delish,WestLudhiana,"LudhianaRadissonBlu,RajguruNagar,WestLudhianaL..."
6590,3 K Resorts,WestLudhiana,"LudhianaBRSNagar,WestLudhianaLudhianaNorthIndi..."
6591,Dovka Bar,CentralLudhiana,"LudhianaNirvanaHotelBanquetsClub,PAU,CentralLu..."
6592,Urban Vibes,WestLudhiana,"LudhianaAggarNagar,WestLudhianaLudhianaMulti-C..."

In [92]:
from sklearn.feature_extraction.text import CountVectorizer
cv =  CountVectorizer(max_features = 500, stop_words = 'english')

In [157]:
vectors = cv.fit_transform(columns['tags']).toarray()

In [131]:
vectors.shape

(6590, 500)

In [87]:
df['Votes'] = df['Votes'].astype(str)
df['Rating'] = df['Rating'].astype(str)
df['Cost'] = df['Cost'].astype(str)

In [89]:
df['Rating'].dtype

dtype('O')

In [158]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

0       DelhiScindiaHouse,ConnaughtPlace,CentralDelhiD...
1       DelhiM-Block,ConnaughtPlace,CentralDelhiDelhiN...
2       DelhiConnaughtPlace,CentralDelhiDelhiFingerFoo...
3       DelhiConnaughtPlace,CentralDelhiDelhiNorthIndi...
4       DelhiM-Block,ConnaughtPlace,CentralDelhiDelhiM...
                              ...
6588    LudhianaWaveMall,BRSNagar,WestLudhianaLudhiana...
6589    LudhianaRadissonBlu,RajguruNagar,WestLudhianaL...
6590    LudhianaBRSNagar,WestLudhianaLudhianaNorthIndi...
6591    LudhianaNirvanaHotelBanquetsClub,PAU,CentralLu...
6592    LudhianaAggarNagar,WestLudhianaLudhianaMulti-C...
Name: tags, Length: 6590, dtype: object

In [159]:
columns

,Name,Locality,tags,Cuisine
0,Local,CentralDelhi,"DelhiScindiaHouse,ConnaughtPlace,CentralDelhiD...","NorthIndian,FingerFood,Continental"
1,The G.T. ROAD,CentralDelhi,"DelhiM-Block,ConnaughtPlace,CentralDelhiDelhiN...",NorthIndian
2,Tamasha,CentralDelhi,"DelhiConnaughtPlace,CentralDelhiDelhiFingerFoo...","FingerFood,NorthIndian,Italian,Continental,Asian"
3,The Junkyard Cafe,CentralDelhi,"DelhiConnaughtPlace,CentralDelhiDelhiNorthIndi...","NorthIndian,Mediterranean,Asian,Italian,Oriental"
4,Chili's American Grill and Bar,CentralDelhi,"DelhiM-Block,ConnaughtPlace,CentralDelhiDelhiM...","Mexican,American,Italian"
...,...,...,...,...
6588,Shree Rathnam,WestLudhiana,"LudhianaWaveMall,BRSNagar,WestLudhianaLudhiana...",SouthIndian
6589,Cafe Delish,WestLudhiana,"LudhianaRadissonBlu,RajguruNagar,WestLudhianaL...","Multi-Cuisine,NorthIndian,Continental,Asian,He..."
6590,3 K Resorts,WestLudhiana,"LudhianaBRSNagar,WestLudhianaLudhianaNorthIndi...",NorthIndian
6591,Dovka Bar,CentralLudhiana,"LudhianaNirvanaHotelBanquetsClub,PAU,CentralLu...","NorthIndian,Chinese,FingerFood"
6592,Urban Vibes,WestLudhiana,"LudhianaAggarNagar,WestLudhianaLudhianaMulti-C...","Multi-Cuisine,NorthIndian,Italian,Chinese,Cont..."

In [160]:
columns[columns['Locality']== 'CentralDelhi'].index[0]

0

In [183]:
def recomm(locality):
    loc_index = columns[columns['Locality']== locality].index[0]
    distances = similarity[loc_index]
    res_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]
    
    for i in res_list:
        print(columns.iloc[i[0]].Name," ~ ", columns.iloc[i[0]].Cuisine)

In [185]:
recomm('WestLudhiana')

Pritam's Global Cuisine  ~  Multi-Cuisine,NorthIndian,Italian,Chinese,Continental,Oriental
Riders Sports Bar  ~  Multi-Cuisine,NorthIndian,Italian,Chinese,Oriental
Puzzles  ~  Multi-Cuisine,NorthIndian,Italian,Continental,Oriental
Aqua Blue  ~  Multi-Cuisine,NorthIndian,Italian,Continental,Oriental
TESORO MIO KITCHEN 'N' KAFFE  ~  Multi-Cuisine,NorthIndian,Italian,Chinese,Continental,Mexican

In [192]:
import pickle

pickle.dump(columns.to_dict(), open('restaurants_dict.pkl','wb'))

In [193]:
pickle.dump(similarity, open('similarity.pkl','wb'))